<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link rel="icon" type="image/ico" href="/public/favicon.ico"/>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h3>URL Shortening Service</h3>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.richkevan.com/" />
            <input type="submit" value="POST URL" />
        </form>
      </section>
      <section>
        <legend>Directions</legend>
        <p>
          Enter your URL in the form above and click POST URL. 
          The shortened URL will be displayed on the next page.
        </p>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.richkevan.com">Rich Kevan</a></p>
    </footer>
  </body>
</html>
